.festival-calendar .events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.festival-calendar .events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.festival-calendar .ant-badge-status-dot {
  width: 8px;
  height: 8px;
}

.festival-calendar .ant-picker-calendar-date-content {
  height: 60px;
  overflow: hidden;
}
